a
	color #00F

a:visited
	color #00D

body
	color #333
	font-family "Arial"
	font-size 16px
	text-align left

header
	background #222
	border-bottom 3px solid #0AF
	display -moz-box
	display -webkit-box
	-webkit-box-orient horizontal
	-webkit-box-align center
	-webkit-box-pack center
	-moz-box-orient horizontal
	-moz-box-pack center
	-moz-box-align center
	color #DDD
	margin 0	
	width 100%

	h1
		font-size 1.5em
		font-weight normal
		margin 0
		padding 0

	img
		width 100%

	#logo,#titulo_nav,#avatar
		-webkit-box-flex 1
		-moz-box-flex 1
		padding 0.5em
		text-align center

	#logo img
		width 43px
		height 40px

	#avatar img
		width 24px
		height 24px	

	#titulo_nav
		-webkit-box-flex 8
		-moz-box-flex 8
